* {
    margin: 0;
    padding: 0;
}

#content {
    padding: 10px;
    font-size: 15px;
    line-height: 1.3;
    border: 1px solid #999;
    display: block;
    width: fit-content;
}

#login-button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: brown;
    border: 1px solid brown;
    display: block;
    width: fit-content;
}

.btn {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #999;
    border-radius: 2px;
    display: block;
    width: fit-content;
    margin: 5px 0;
}